.coaches {
  padding-bottom: 108px;

  @include vp-1199 {
    padding-bottom: 104px;

    .container {
      padding-top: 33px;
    }
  }

  @include vp-767 {
    padding-bottom: 48px;

    .container {
      padding-top: 26px;
    }
  }
}

.coaches__content {
  position: relative;
}

.coaches__title {
  font-size: 54px;
  font-weight: 600;
  line-height: 68px;
  margin-bottom: 46px;
  letter-spacing: 1.62px;

  @include vp-1199 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 23px;
  }

  @include vp-767 {
    font-size: 32px;
    margin-bottom: 26px;
  }
}

.coaches__card {
  position: relative;

  img {
    width: 100%;
  }

  &:hover {
    .coaches__inner-info {
      z-index: 1;
    }

    .coaches__name {
      opacity: 0;
    }
  }

  @include focus {
    outline: none;

    img {
      opacity: 0.3;
    }

    .coaches__name {
      opacity: 0;
    }
  }

  &:active {
    .coaches__inner-info {
      z-index: 1;
    }

    .coaches__name {
      opacity: 0;
    }
  }

  @include vp-767 {
    height: 274px;

    img {
      height: 274px;
    }
  }
}

.coaches__name {
  position: absolute;
  left: 0;
  bottom: 19px;
  font-size: 0.95rem;
  letter-spacing: 0.2px;
  font-weight: 700;
  color: $color-default-white;
  right: 0;
  text-align: center;

  @include vp-1199 {
    bottom: 21px;
  }
}


.coaches__inner-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 38, 84, 0.8);
  align-items: center;
  padding: 57px 49px 31px 47px;
  z-index: -1;

  span {
    color: #b6bdcc;
    font-size: 1rem;
    font-family: $ff-roboto;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    display: block;
    margin-bottom: 39px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  li {
    color: $color-default-white;
    font-size: 0.7rem;
    font-family: $ff-roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 22px;
    position: relative;
  }

  @include vp-1199 {
    li {
      font-size: 0.8rem;
    }
  }

  @include vp-767 {
    padding: 48px 31px 10px 30px;

    ul {
      gap: 16px;
    }

    li {
      font-size: 0.78rem;
      line-height: 19px;
    }
  }
}

.coaches__inner-info li::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  left: 6px;
  top: 5px;
}

.inner-name {
  font-size: 0.95rem;
  letter-spacing: 0.2px;
  font-weight: 700;
  color: $color-default-white;
  text-align: center;
  line-height: 1;
  margin-bottom: 7px;

  @include vp-767 {
    margin-bottom: 5px;
  }
}
