.coaches {
  .swiper-wrapper {
    display: flex;
    position: absolute;
  }

  .swiper-slide {
    width: 260px;
    min-width: 260px;

    @include vp-767 {
      max-width: 226px;
      min-width: auto;
    }
  }
}

.coaches .swiper {
  width: 100%;
  height: 290px;
  position: relative;
  overflow: hidden;
  max-height: 294px;
  max-width: 1460px;

  @media (max-width: 1728px) {
    max-width: 1159px;
  }

  @media (max-width: 1360px) {
    width: 860px;
  }

  @include vp-1199 {
    width: 567px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.coaches__button {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  @media (max-width: 550px) {
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;

    svg {
      width: inherit;
      height: inherit;
    }
  }

  &:hover {
    outline: 1px $color-default-sapphire solid;

    path {
      stroke: $color-default-sapphire;
    }
  }

  @include focus {
    outline: 1px $color-default-sapphire solid;

    path {
      stroke: $color-default-sapphire;
    }
  }

  &:active {
    background-color: $color-default-sapphire;

    path {
      stroke: $color-default-white;
    }
  }
}

.button-prev {
  left: -4.6vw;

  @media (max-width: 1360px) {
    left: 0;
  }

  @include vp-1199 {
    left: -18px;
  }

  @include vp-767 {
    left: -5px;
    top: -10px;
  }
}

.button-next {
  right: -4.7vw;
  transform: rotateZ(180deg);

  @media (max-width: 1360px) {
    right: 0;
  }

  @include vp-1199 {
    right: -18px;
  }

  @include vp-767 {
    right: -5px;
    top: -10px;
  }
}
