.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-sapphire;
  font-family: $ff-roboto;
  font-weight: 700;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
