.games {
  padding-top: 8.79vw;
  padding-bottom: 7.77vw;

  @include vp-1199 {
    padding-top: 133px;
  }

  @include vp-767 {
    padding-top: 71px;
  }
}

.games .container {
  display: flex;
  justify-content: center;

  @include vp-1023 {
    height: 38vw;
  }

  @include vp-767 {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
}

.games__content {
  background-color: $color-torch-red;
  padding: 6.23vw 5.57vw;
  width: 36.63vw;

  p,
  h2 {
    color: $color-default-white;
  }

  span {
    font-family: $ff-roboto;
    color: $color-default-white;
  }

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    width: 38.07vw;
    padding: 6.8vw 4.82vw 6.3vw;
    justify-content: space-between;
  }

  @include vp-767 {
    width: 64.33vw;
    min-width: 255px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include vp-319 {
    width: 100%;
    padding: 15.99vw 11.6vw 15vw;
  }
}

.games__head {
  display: flex;
  margin-bottom: 1.76vw;

  @include vp-1023 {
    margin: 0 0 3px;
  }

  @include vp-319 {
    margin-bottom: 7px;
  }
}

.games__head h2 {
  font-size: 6.01vw;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: 2.46px;
  flex: 0;
  padding-left: 15px;

  @include vp-1023 {
    font-size: 46px;
  }
}

.games__head:first-child {
  gap: 4.4vw;

  @include vp-767 {
    gap: 34px;
  }
}

.games__data {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include vp-1023 {
    gap: 9px;
  }
}

.games__data-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.games__lead {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  display: block;
  padding-bottom: 12px;

  @include vp-1023 {
    font-size: 11px;
    padding-bottom: 4px;
  }
}

.games__data-wrap {
  display: flex;
  align-items: center;
  border-top: 1px $color-default-white solid;
  gap: 6px;
  padding-top: 3px;

  @include vp-1023 {
    gap: 2px;
  }
}

.games__data-wrap span {
  font-size: 2.93vw;
  font-weight: 700;
  line-height: 1;

  @include vp-1023 {
    font-size: 1.4rem;
  }
}

.games__day {
  gap: 6px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @include vp-1023 {
    line-height: 1;
    font-size: 0.59rem;
  }
}

.games__text {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 3.3vw;
  white-space: nowrap;
  padding-left: 3px;

  @include vp-1023 {
    white-space: nowrap;
    font-size: 0.66rem;
    padding-left: 8px;
    margin-bottom: 29px;
  }
}

.games__button {
  width: 100%;
  height: 4.91vw;
  border: 0.29vw solid #ffffff;
  color: $color-default-white;
  font-size: 0.88vw;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition: opacity 0.3s ease;

  @include vp-1365 {
    font-size: 0.6rem;
  }

  @include vp-1023 {
    width: 26.34vw;
    margin: 0 auto;
    height: 40px;
    font-size: 0.5rem;
  }

  @include vp-767 {
    width: 100%;
  }

  @include vp-319 {
    font-size: 0.5rem;
    width: 202px;
  }

  @include hover {
    opacity: 0.6;
  }

  @include focus {
    outline: none;
    opacity: 0.6;
  }

  @include active {
    opacity: 0.6;
  }
}

.games__image {
  width: 48.35vw;

  @include vp-1023 {
    width: 50.33vw;
  }

  @include vp-767 {
    width: 64.33vw;
    min-width: 255px;
  }

  @include vp-319 {
    width: 100%;
  }
}

.games__image picture {
  width: inherit;
  height: inherit;
}

.games__image img {
  width: inherit;
  height: 100%;

  @include vp-767 {
    min-width: 255px;
  }
}
