.games {
  padding-top: 121px;
  padding-bottom: 103px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 58px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 23px;
  }
}

.games .container {
  display: flex;
  justify-content: center;

  @include vp-1023 {
    height: 38vw;
  }

  @include vp-767 {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
}

.games__content {
  background-color: $color-torch-red;
  padding: 84px 75px;
  width: 500px;

  p,
  h2 {
    color: $color-default-white;
  }

  span {
    font-family: $ff-roboto;
    color: $color-default-white;
  }

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    width: 38.07vw;
    padding: 52px 37px 49px;
    justify-content: space-between;
  }

  @include vp-767 {
    width: 64.33vw;
    min-width: 255px;
    padding: 51px 36px 49px;
  }

  @include vp-319 {
    width: 100%;
  }
}

.games__head {
  display: flex;
  margin-bottom: 1.6vw;

  @include vp-1023 {
    margin: 0 0 3px;
  }

  @include vp-767 {
    margin-bottom: 5px;
  }
}

.games__head h2 {
  font-size: 5.1rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: 2.46px;
  flex: 0;
  padding-left: 15px;

  @include vp-1023 {
    line-height: 45px;
    font-size: 46px;
  }
}

.games__head:first-child {
  gap: 61px;

  @include vp-1199 {
    gap: 34px;
  }

  @include vp-767 {
    gap: 33px;
  }
}

.games__data {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include vp-1023 {
    gap: 10px;
  }
}

.games__data-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.games__data-content > span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  display: block;
  padding-bottom: 12px;

  @include vp-1023 {
    font-size: 11px;
    padding-bottom: 4px;
  }
}

.games__data-wrap {
  display: flex;
  align-items: center;
  border-top: 1px $color-default-white solid;
  gap: 6px;
  padding-top: 3px;

  @include vp-1023 {
    gap: 4px;
  }
}

.games__data-wrap span {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;

  @include vp-1023 {
    font-size: 1.4rem;
  }
}

.games__data-wrap p {
  gap: 6px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @include vp-1023 {
    line-height: 12px;
    font-size: 0.59rem;
  }
}

.games__content > p {
  font-weight: 400;
  font-size: 1.02rem;
  margin-bottom: 46px;
  white-space: nowrap;
  padding-left: 3px;

  @include vp-1023 {
    white-space: nowrap;
    font-size: 0.69rem;
    padding-left: 8px;
    margin-bottom: 29px;
  }

  @include vp-767 {
    margin-bottom: 27px;
  }
}

.games__content > a {
  width: 100%;
  min-height: 68px;
  border: 3px solid #ffffff;
  color: $color-default-white;
  font-size: 0.6rem;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition: opacity 0.3s ease;

  @include vp-1023 {
    width: 26.34vw;
    margin: 0 auto;
    min-height: 40px;
    font-size: 0.5rem;
  }

  @include vp-767 {
    width: 100%;
    min-height: 42px;
    padding: 0 20px;
  }

  @include vp-319 {
    font-size: 0.5rem;
    width: 202px;
  }

  @include hover {
    opacity: 0.6;
  }

  @include focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.6;
  }
}

.games__image {
  width: 48.35vw;

  @include vp-1023 {
    width: 50.33vw;
  }

  @include vp-767 {
    width: 64.33vw;
    min-width: 255px;
  }

  @include vp-319 {
    width: 100%;
  }
}

.games__image picture {
  width: inherit;
  height: inherit;
}

.games__image img {
  width: inherit;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    min-width: 255px;
  }
}
