.reviews .swiper-wrapper {
  display: flex;
}

.reviews .reviews__swiper {
  width: 565px;
  min-height: 242px;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  z-index: 1;

  @include vp-1199 {
    margin: 0 auto;
    width: 565px;
  }

  @include vp-767 {
    width: 227px;
    height: 336px;
    margin: 0 auto;
  }
}

.reviews .container {
  padding-top: 123px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 94px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 71px;
  }
}

.reviews h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  text-align: center;
  margin-bottom: 40px;

  @include vp-1199 {
    font-size: 42px;
    padding-left: 0;
    margin-bottom: 42px;
  }

  @include vp-767 {
    margin-bottom: 44px;
    font-size: 32px;
  }
}

.reviews__slide {
  width: 560px;
  background-color: #1c3374;
  display: grid;
  grid-template-columns: 80px auto;
  row-gap: 18px;
  column-gap: 28px;
  margin: 0 auto;
  padding: 60px 55px 56px 62px;

  @include vp-1199 {
    padding: 62px 55px 58px 64px;
  }

  @include vp-767 {
    grid-template-columns: 68px 77px;
    padding: 40px 25px;
    row-gap: 15px;
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
  }
}

.reviews__slide img {
  grid-row: 1/3;

  @media (max-width: 550px) {
    width: 68px;
    height: 68px;
    grid-row: 1/2;
    margin-left: 5.33vw;
  }
}

.reviews__slide h3 {
  font-size: 1.03rem;
  font-weight: 700;
  line-height: 1;
  color: $color-default-white;
  font-family: $ff-roboto;

  @include vp-767 {
    line-height: 28px;
  }
}

.reviews__slide p {
  grid-column: 2/3;
  font-size: 0.93rem;
  font-weight: 400;
  line-height: 150%;
  color: $color-default-white;

  @include vp-767 {
    grid-column: 1/3;
    text-align: center;
  }
}

.reviews__content {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.reviews__btn {
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;

  &:hover {
    outline: 1px $color-default-sapphire solid;

    path {
      stroke: $color-default-sapphire;
    }
  }

  @include focus {
    outline: 1px $color-default-sapphire solid;

    path {
      stroke: $color-default-sapphire;
    }
  }

  &:active {
    background-color: $color-default-sapphire;

    path {
      stroke: $color-default-white;
    }
  }

  @include vp-1199 {
    position: absolute;
  }
}

.reviews__prev-btn {
  align-self: center;
  margin-left: auto;
  margin-right: 20px;

  @include vp-1199 {
    padding: 0;
    margin-right: auto;
    margin-left: 0;
    left: -19px;
  }

  @include vp-767 {
    transform: scale(0.6);
  }
}

.reviews__next-btn {
  align-self: center;
  transform: rotateZ(180deg);
  margin-right: auto;
  margin-left: 20px;

  @include vp-1199 {
    padding: 0;
    right: -19px;
  }

  @include vp-767 {
    transform: scale(0.6) rotateZ(180deg);
  }
}
