.accordion__element {
  position: relative;
  padding: 34px 0 25px;
  border-bottom: 1px rgba(28, 51, 116, 0.2) solid;

  &:first-child {
    border-top: 1px rgba(28, 51, 116, 0.2) solid;
  }

  @include vp-1199 {
    padding-bottom: 29px;
  }

  @include vp-767 {
    padding: 20px 0 20px;
  }
}

.accordion__head {
  display: flex;
  position: relative;
}

.accordion__button {
  width: 42px;
  height: 42px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  cursor: pointer;
  border: 1px $color-default-sapphire solid;

  &::after,
  &::before {
    width: 18px;
    height: 0.1rem;
    background-color: $color-default-sapphire;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &::after {
    transform: rotateZ(90deg);
    transition: transform 0.3s ease;
  }

  @include hover {
    background-color: $color-default-sapphire;

    &::after,
    &::before {
      background-color: $color-default-white;
    }
  }

  @include focus {
    background-color: $color-default-sapphire;
    outline: none;

    &::after,
    &::before {
      background-color: $color-default-white;
    }
  }

  @include vp-767 {
    width: 32px;
    height: 32px;
  }
}

.accordion__element.is-active .accordion__button {
  background-color: $color-default-sapphire;

  &::after,
  &::before {
    background-color: $color-default-white;
  }

  &::after {
    transform: rotateZ(0);
  }
}

.accordion__wrapper {
  padding-right: 13.2vw;
  margin-top: 7px;

  @include vp-1199 {
    padding-right: 150px;
    margin-top: 15px;
  }

  @include vp-767 {
    padding-right: 0;
    margin-top: 12px;
  }
}

.accordion__head p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
  padding-right: 50px;

  @include vp-1199 {
    margin-bottom: 0;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 0;
    padding-right: 65px;
  }
}

.accordion__wrapper p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 25px;

  @include vp-767 {
    font-size: 0.89rem;
    line-height: 22px;
  }
}

[data-accordion="element"].is-active > [data-accordion="content"] {
  max-height: 100%;
}

[data-accordion="parent"].no-transition [data-accordion="content"] {
  transition: none;
}

[data-accordion="content"] {
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
}
