.social {
  display: flex;
  gap: 11px;
}

.social__item {
  display: flex;
  align-items: center;
}

.social__link {
  display: flex;

  svg {
    fill: #ffffff;
    color: #030a1a;
  }

  @include hover {
    svg {
      fill: $color-egyptian-blue;
      color: #ffffff;
    }
  }

  @include focus {
    outline: none;

    svg {
      fill: $color-egyptian-blue;
      color: #ffffff;
    }
  }

  &:active {
    svg {
      fill: $color-default-sapphire;
      color: #ffffff;
    }
  }
}
